<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule utils" stopProcessing="true">
          <match url="^_apps/(.*)$"/>
          <action type="Rewrite" url="_apps/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="rule 1G" stopProcessing="true">
          <match url="^robots\.txt$"  ignoreCase="true" />
          <action type="Rewrite" url="index.php?plugin=Robotstxt" />
        </rule>
        <rule name="rule 2G" stopProcessing="true">
          <match url="^sitemap\.xml$"  ignoreCase="true" />
          <action type="Rewrite" url="index.php?plugin=Sitemap" />
        </rule>
        <rule name="rule 4G" stopProcessing="true">
          <match url="^img/[0-9]+/(.*)\.(jpg|jpeg|png|bmp|gif|JPG|JPEG|PNG|BMP|GIF)$"/>
          <action type="Rewrite" url="index.php?plugin=ShowImage&amp;path={R:1}.{R:2}" appendQueryString="true" />
        </rule>
        <rule name="rule 5G" stopProcessing="true">
          <match url="^(.*)\.(txt|csv|xml|XML|CSV|woff|ttf|php|asp|html|css|js|json|jpg|jpeg|png|bmp|gif|JPG|JPEG|PNG|BMP|GIF)$"/>
          <action type="Rewrite" url="{R:1}.{R:2}" appendQueryString="true" />
        </rule>
        <rule name="Rule 1515" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{URL}" pattern="(./)$" ignoreCase="false" negate="true" />
            <add input="{URL}" pattern="^(.)$" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}/" />
        </rule>
        <rule name="rule 8G" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
              <add input="{URL}" pattern="^(.)$" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?md={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>